@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    display: grid;
    grid-template-rows: 60px 1fr 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-right: 1rem;
    background-color: #f0f0f0;
}

.navbar-brand {
    padding: 1rem;
    font-size: 1.25rem;
}

.navbar-list {
    display: flex;
    gap: .5rem;
    list-style-type: none;
}

.navbar-link {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: #454545
}

.main {
    padding: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #333;
    color: #fff;
}

.footer p {
    margin-bottom: 0;
}